.mainContainer{
    background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
height: 100%;
/* border: solid 1px red; */
margin-top: 40px;
}

.mainContainer h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
}


.appNavbar {
    display: flex;
}

.appNavbar>div {
    flex: 1;
}


.appNavbar div ul li button{
    /* border: none; */
    font-family: monospace;
    border-radius: 10px;
    border: solid 2px black;
    margin-top: 6px;
}



.appNavbar div ul li:hover{
    color: black;
    font-weight: bold;
    transition: all ease-in 0.2s;
}


#welcomeName{
    padding-top: 10px;
    /* border: solid 1px white; */
    
}

#listParent{
    margin-top: 20px;
}

.card{
    background-color: bisque;
    border: solid 1px;
    margin: 10px 0px;
}